.container{

 display: flex;
 flex-direction: row;
 border-radius: 15px;
 flex-wrap: wrap;
 gap: 5em;
 justify-content: center;
 margin: 20px;
}

.card{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;  
  
  }

  .imagen{
    max-width: 100%; /* Ajustando el tamaño máximo de las imágenes */
    height: 200px;
    border-radius: 10px;
    margin: 10px ;
   }

   .centeredButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #143739;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
 
